@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'karla', sans-serif;
    position: relative;
    background-color: #EEEEEE;
}

header {
    background-color: #393E46;
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 1px 2px var(--shadow-color);
    color: #00f2ff;
}

.header h1 {
    color: #00ADB5;
    font-size: 2rem;
    font-weight: bolder;
}

.container {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    background: #393e46c9;
    margin: 30px auto;
}

.containerHeader {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 12px;
    color: #EEEEEE;
}

.containerHeader span {
    font-weight: 900;
    font-size: 20px;
    word-break: break-all;
}

#new {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #00ADB5;
    box-shadow: 0px 5px 15px black;
}


.divTable {
    padding: 10px;
    width: auto; 
    height:inherit; 
    overflow:auto;
    
  }
  
  .divTable::-webkit-scrollbar {
    width: 12px;
    background-color: #EEEEEE; 
  }
  
  .divTable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray; 
  }
  
  table {
    width: 100%;
    
    word-break: break-all;
    border-collapse: collapse;
      
    
   
  }
  
  thead {
    background-color: #F1EFEF;
         
  }
  
  tr {
    border-bottom: 1px solid rgb(238, 235, 235)!important;
  }
  
  tbody tr td {
    vertical-align: text-top;
    padding: 6px;
    max-width: 50px;
  }
  
  thead tr th {
    padding: 5px;
    text-align: start;
    margin-bottom: 50px;
  }
  
  tbody tr {
    margin-bottom: 50px;
    color: white;
  }
  
  thead tr th.acao {
    width: 100px!important;
    text-align: center;
  }
  
  tbody tr td.acao {
    text-align: center;
  }

  button.edit  {
    background-color: #00ADB5;
  }

  button.delete {
    background-color: #191717;
    color: white;
  }
  
  @media (max-width: 700px) {
    body {
      font-size: 10px;
    }
    
    .header span {
      font-size: 15px;
    }
  
    #new {
      padding: 5px;
      font-size: 10px;
    }
  
    thead tr th.acao {
      width: auto!important;
    }
    
  
  
    button :first-child {
      margin-right: 0;
      background-color: #00ADB5;
    }
  
    .modal {
      width: 90%!important;
    }
  
    .modal label {
      font-size: 12px!important;
    }
  }
  
  .modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
  }


  
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    border: solid 2px #00ADB5;
  }
  
  .modal label {
    font-size: 14px;
    width: 100%;
  }
  
  .modal input {
    width: 100%;
    outline: none;
    padding: 5px 10px; 
    width: 100%;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  .modal button {
    width: 100%;
    margin: 10px auto;
    outline: none;
    border-radius: 20px; 
    padding: 5px 10px; 
    width: 100%;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #00ADB5;
    box-shadow: 0px 0px 6px black;
  }
  
  .active {
    display: flex;
  }
  
  .active .modal {
    animation: modal .4s;
  }
  
  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  td button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    background: transparent;
  }
  
  td button {
    font-size: 15px;
  }
  
  td button i:first-child {
    margin-right: 10px;
  }